body,
header,
footer,
main,
aside,
.box,
.box1,
.box2,
.box3 {
    border: 1px solid blueviolet;
    display: grid;
    justify-content: center;
    align-content: center;
}

body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    height: 100vh;
}

header {
    grid-column: 1/4;
}

footer {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 25% 25%;
}

.box,
.box3 {
    grid-column: 1/3;
}

main,
header,
aside,
footer {
    font-size: 2em;
}